<div class="hero">

    <div class="align">
        <div class="title">
            Suggest Me
        </div>
        <ng-container *ngIf="showTVMovieBtn">
            <div >
                <button type="button" class="btn btn-primary"  (click)="btnClick('tvseries')" style="height: 40px;width: 100px; margin-right: 30px; vertical-align: middle; font-size: initial;"> TV Series</button>
                <button type="button" class="btn btn-primary"  (click)="btnClick('movies')" style="height: 40px;width: 80px; margin-left: 30px; vertical-align: middle; font-size: initial;"> Movies</button>
            </div>
        </ng-container>
        <div style="display: flex;
        align-items: center;
        justify-content: center;" *ngIf="!showTVMovieBtn">
            <div >
                <tr>
                    <td>
                        <mat-button-toggle-group  multiple>
                            <ng-container *ngFor="let genre of genreslist">
                                <mat-button-toggle value="{{genre.name}}" class="toggle" (change)="onToggleClick($event.value,$event)">{{genre.name}}</mat-button-toggle>
                            </ng-container>
                          </mat-button-toggle-group>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="button" class="btn btn-primary"  (click)="btnClick('movies')" style="height: 40px;width: 80px; margin-left: 30px; vertical-align: middle; font-size: initial;"> Search</button>    
                    </td>
                </tr>
                
            </div>
        </div>
    </div>
</div>